
/* -- Fuentes --------------------------------------- */
@font-face {
    font-family: fuenteCursiva;
    src: url("../fuente/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: fuenteGeneral;
    src: url("../fuente/Merriweather-Regular.ttf");
}

@font-face {
    font-family: fuenteLogo;
    src: url("../fuente/PermanentMarker-Regular.ttf");
}

:root {
    --colorNavBarFondo: rgb(0, 0, 0);
    --colorLink: white;
    --colorLinkHover: rgb(255, 169, 58);
    --colorTesting: green;
}

/* -- Config Elementos Generales -------------------- */
* {
    font-family: fuenteGeneral;
}

a {
    text-decoration: none !important;
    color: var(--colorLink);
    transition: 0.3s;
}

a:hover {
    color: var(--colorLinkHover);
    font-size: 1.2em;
}

/* -- NavBar ---------------------------------------- */
.navBar-contenedor {
    position: fixed;
    z-index: 1;
    background-color: var(--colorNavBarFondo);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
}

.navBar-logo {
    display: flex;
    align-items: center;
}

.navBar-logo:hover {
    font-size: 100%;
    text-decoration: none;
}

.navBar-logo img {
    height: 45px;
    margin-right: 10px;
}

.navBar-logo h1 {
    font-family: fuenteLogo;
    animation: logoTxtAnim 4s infinite;
}

@keyframes logoTxtAnim {
    0% {
        color: var(--colorLinkHover);
    }
    50% {
        color: var(--colorLink);
    }
    100% {
        color: var(--colorLinkHover);
    }
  }

.navBar-btn {
    display: inline-block;
    cursor: pointer;
    display: none;
}

.navBar-btnD1, .navBar-btnD2, .navBar-btnD3 {
    width: 35px;
    height: 5px;
    background-color: var(--colorLink);
    border-radius: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.navBar-btn_click .navBar-btnD1 {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--colorLinkHover);
}

.navBar-btn_click .navBar-btnD2 {
    opacity: 0;
}

.navBar-btn_click .navBar-btnD3 {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--colorLinkHover);
}

.navBar-links > a {
    margin-left: 10px;
}

@media (max-width: 767.98px) {
    .navBar-btn {
        display: block;
    }

    .navBar-links {
        position: fixed;
        display: grid;
        top: 60px;
        background-color: var(--colorNavBarFondo);
        text-align: center;
        width: 100%;
        left: 100%;
        transition: 0.4s;
    }

    .navBar-links_noOcultar {
        left: 0;
    }

    .navBar-links a {
        padding: 10px;
    }
}

/* -- Carousel -------------------------------------- */
.carrusel-contenedor {
    padding-top: 90px;
}

.carrusel-img {
    display: none;
}

.btnImgAnt, .btnImgProx {
    background-color: red;
    cursor: pointer;
    /* https://www.w3schools.com/howto/howto_js_slideshow.asp */
}


/* -------------------------------------------------- */
/* -------------------------------------------------- */


