
/* -- Fuentes ----------------------------------------------------- */
/* ---------------------------------------------------------------- */
@font-face {
    font-family: fuenteCursiva;
    src: url("../fuente/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: fuenteGeneral;
    src: url("../fuente/Merriweather-Regular.ttf");
}

@font-face {
    font-family: fuenteLogo;
    src: url("../fuente/PermanentMarker-Regular.ttf");
}

:root {
    --colorNavBarFondo: rgb(0, 0, 0);
    --colorLink: white;
    --colorLinkHover: rgb(255, 169, 58);
    --colorTesting: green;

    --colorBtn: white;
    --colorBtnBack: black;

    --colorCarritoCont: red;
}

/* -- Config Elementos Generales ---------------------------------- */
/* ---------------------------------------------------------------- */
* {
    font-family: fuenteGeneral;
}

a {
    text-decoration: none;
    color: var(--colorLink);
    transition: 0.3s;
}

a:hover {
    color: var(--colorLinkHover);
    font-size: 1.2em;
}

.btn {
	/* display: inline-flex;
	align-items: center;
	justify-content: center; */
	width: 80%;
	height: 40px;
    max-width: 300px;
    margin: 10px auto 10px auto;
	background: var(--colorBtnBack);
	color: var(--colorBtn);
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.btn:active {
    scale: 0.9;
}

.btn span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.btn.animacion::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid var(--colorLinkHover);
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

.btn.animacion:hover::after {
	left: 0;
}

.carrito {
    position: fixed;
    right: 0;
    bottom: 50px;
    background-color: var(--colorLinkHover);
    border: none;
    border-radius: 25% 0 0 25%;
    cursor: pointer;
    z-index: 10;
}

.carrito-cont {
    position:absolute;
    left: 0;
    bottom: 0;
    margin: -10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--colorCarritoCont);
    color: var(--colorLink);
    border: 2px solid var(--colorLink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito img {
    width: 50px;
    height: 50px;
}

/* -- NavBar ------------------------------------------------------ */
/* ---------------------------------------------------------------- */
.navBar-contenedor {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--colorNavBarFondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

.navBar-logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navBar-logo:hover {
    font-size: 100%;
    text-decoration: none;
}

.navBar-logo img {
    height: 45px;
    margin-right: 10px;
}

.navBar-logo h1 {
    font-family: fuenteLogo;
    animation: logoTxtAnim 4s infinite;
}

@keyframes logoTxtAnim {
    0% {
        color: var(--colorLinkHover);
    }
    50% {
        color: var(--colorLink);
    }
    100% {
        color: var(--colorLinkHover);
    }
  }

.navBar-btn {
    display: inline-block;
    cursor: pointer;
    display: none;
    padding-right: 20px;
}

.navBar-btnD1, .navBar-btnD2, .navBar-btnD3 {
    width: 35px;
    height: 5px;
    background-color: var(--colorLink);
    border-radius: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.navBar-btn_click .navBar-btnD1 {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--colorLinkHover);
}

.navBar-btn_click .navBar-btnD2 {
    opacity: 0;
}

.navBar-btn_click .navBar-btnD3 {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--colorLinkHover);
}

.navBar-links {
    margin-right: 20px;
}

.navBar-links > a {
    margin-left: 10px;
}

@media (max-width: 767.98px) {
    .navBar-btn {
        display: block;
    }

    .navBar-links {
        position: fixed;
        display: grid;
        top: 60px;
        background-color: var(--colorNavBarFondo);
        text-align: center;
        width: 100%;
        left: 100%;
        transition: 0.4s;
    }

    .navBar-links_noOcultar {
        left: 0;
    }

    .navBar-links a {
        padding: 10px;
    }
}

/* -- Main -------------------------------------------------------- */
/* ---------------------------------------------------------------- */
.main-contenedor {
    position: relative;
    top: 70px;
}
/* -- Categorias -------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* .manu-categ {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 150px;
    align-items: center;
    background-color: yellow;
}

.menu-categ-prev {
    background-color: red;
}

.menu-categ-next {
    background-color: red;
} */

/* -- Acordion ---------------------------------------------------- */
/* ---------------------------------------------------------------- */
.acordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    max-width: 1000px;
  }

.active, .acordion:hover {
    background-color: #ccc;
}

.acordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}

.acordion-contenido {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.859);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: grid;
    text-align: justify;
  }

.acordion-contenido-img {
    height: 200px;
    margin: auto;
    padding-top: 10px;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

